.query-window{
	margin-left: 810px;
	margin-bottom: 20px;
}
.query-picture img{
	width: 30px;
	height: 25px;
}
.query-list{
	margin-left: 10px;
	cursor: pointer;
}
.state-button{
	background: white;
	border: 1px solid #428BCA
}