.infoshow form table tr td {
	height: 50px;
}

.infoshow form label {
	font-size: 16px;
}

.infoshow form  input {
	border: 1px solid #BDBDBD;
	width: 203px;
	margin-left: 20px;
	display: inline-block;
	height: 28px;
	border-radius: 5px;
}

.buttonGroup {
	    margin-top: 38px;
   	    margin-left: 30px;
}

.buttonGroup input[type=submit] {
	width: 82px;
    background: #CF221A;
    color: #fff;
    border-radius: 0px;
}
.buttonGroup input[type=reset] {
	width: 82px;
    background: #CF221A;
    color: #fff;
    border-radius: 0px;
}