.register {
    background: #fff;
    padding-top: 50px;
    height: 100%;
}


.main {
    background: #fff;
}


.register .popCont {
    width: 450px;
    display: block;
    overflow-y: hidden;
    left: 444px;
    top: 86px;
    margin: 0 auto;
    background: #FFF;
}


.register .popCont .popInner {
    border-top: 10px solid #CF211A;
    padding: 20px 50px 30px 50px;
}

.register .popCont .popInner .formInput label{
    display: inline-block;
    width: 70px;
    line-height: 40px;
    color: #5E5D5D;
    font-weight: 600;
    font-size: 15px
}

.register .popCont .popInner .titleWrap h1{
    margin-top: 24px;
    font-size: 38px;
    color: #CF211A;
    margin-bottom: 15px;
}
.register .popCont .popInner input[type=text]{
    border: none;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    width: 192px;
    height: 26px;
    border-radius: 5px;
}


.register .popCont .popInner input[type=submit]{
    width: 100px;
    height: 71px;
    position: absolute;
    margin-top: -113px;
    margin-left: 279px;
    border: 1px solid #B3B3B3;
    background: #CF211A;
    color: #FFF;
    font-size: 16px;
}

.loginOpt {

    margin-top: 20px;
}

.loginOpt a.btn {
    display: inline-block;
    background: #666;
    color: #FFF;
    text-decoration: none;
    padding: 5px 15px;
    float: right;
    margin-right: 5px;
}

.register .popCont .popInner #register {
    width: 95px;
    height: 36px;
    position: static;
    border: 1px solid #B3B3B3;
    background: #CF211A;
    color: #FFF;
    font-size: 16px;
    /* margin: 0 auto; */
    margin-left: 77px;
    margin-top: 20px;
}
