<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!--==========================================  dao  ==========================================-->
    <bean id="baseDao" class="com.qfq.dao.impl.BaseDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!--========================================== service  ==========================================-->
	<!-- 用户管理 -->
	<bean id="userInfoService" class="com.qfq.service.impl.UserInfoServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<!-- 管理员模块 -->
	<bean id="adminService" class="com.qfq.service.impl.AdminServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<!-- 前台订单模块 -->
	<bean id="orderService" class="com.qfq.service.impl.OrderServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<!-- 商品模块 -->
	<bean id="goodsService" class="com.qfq.service.impl.GoodsServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<!--==========================================  action  ==========================================-->
	<!-- 用户管理 -->
	<bean id="userAction" class="com.qfq.action.UserInfoAction" >
		<property name="userInfoService" ref="userInfoService"/>
	</bean>
	
	<!-- 管理员模块 -->
	<bean id="adminAction" class="com.qfq.action.AdminAction" >
		<property name="adminService" ref="adminService"/>
	</bean>
	
	<!-- 前台订单模块 -->
	<bean id="orderAction" class="com.qfq.action.OrderAction" >
		<property name="orderService" ref="orderService"/>
	</bean>
	
	<!-- 商品模块 -->
	<bean id="goodsAction" class="com.qfq.action.GoodsAction" >
		<property name="goodsService" ref="goodsService"/>
	</bean>
</beans>